body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: blueviolet;
    color: white;
    padding: 20px;
    text-align: center;  
}
header img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-top: 20px;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

h2 {
    color: blueviolet;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #ddd;
    margin-top: 20px;
}
